Package: imcurvin
Version: 1.3.0
Section: net
Priority: optional
Architecture: all
Depends: tor, xxd, curl, coreutils, python3, netcat-openbsd, awk | gawk
Maintainer: Skokoo <https://github.com/Skokoo>
Description: Advanced Web Security Auditing & MySQL Injection Tool
 ImCurvin is an open-source web security auditing tool for Kali Linux.
 This tool features advanced WAF bypass techniques, automated multi-port
 TOR routing, and dynamic network evasion capabilities.
 .
 To view advanced WAF bypass details directly in your terminal, run:
 imcurvin -tech (READ THIS IF YOU HAVE NOT YET, TO PREVENT UNINTENDED ACTIONS)