Source: imcurvin
Section: net
Priority: optional
Maintainer: Skokoo <Skokoo@proton.me>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/Skokoo/ImCurvin

Package: imcurvin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, tor, xxd, curl, python3, netcat-openbsd
Description: advanced web security auditing and PoC tool
 This tool features advanced WAF bypass techniques, automated multi-port
 TOR routing, and dynamic network evasion capabilities specifically optimized
 for MySQL environments that support multi-statement execution (Stacked Queries).
 .
 To view advanced WAF bypass details directly in your terminal, run:
 imcurvin -tech (READ THIS IF YOU HAVE NOT YET, TO PREVENT UNINTENDED ACTIONS). Or, use imcurvin -h for getting basic list of option.