[Desktop Entry]
Version=1.3.0
Type=Application
Name=imcurvin
Comment=Advanced MySQL stacked query vulnerability exploitation and perimeter reconnaissance framework featuring zero-disk memory optimization and high-concurrency layer bypass matrices.
Exec=imcurvin -h
Icon=ri
Terminal=true
Categories=Network;Security;
Keywords=scan;scanner;network;security;imcurvin;