#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	@echo "Skipping auto_clean"

override_dh_auto_configure:
	@echo "Skipping auto_configure"

override_dh_auto_build:
	@echo "Skipping auto_build"

override_dh_auto_install:
	@echo "Skipping auto_install"

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/imcurvin/usr/bin/imcurvin